<% provide(:title, "推荐用户") %>

<div class = "show_list">
    <% for i in 0..4 do %>
        <div class="list">
            <h1><%= @users_five[i].name %></h1>
            <%= image_tag(@users_five[i].micropost.picture.url, class: "list") %>
        </div>
    <% end %>
</div>
 