<% provide(:title, "推荐用户") %>
<h1 class = "show_title">为您推荐的用户：</h1>
<div class = "show_list">
    <% for i in 0..1 do %>
        <div class="list">
            <h1><%= @users_five[i].name %></h1>
            <%= image_tag(@users_five[i].micropost.picture.url, class: "list") %>
            </br>
            <%= link_to "点我立即查看详情!", @users_five[i] %>
        </div>
    <% end %>
</div>
 