div.home {
	background: url(img/home.jpg);
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

div.Sign_Up {
	margin-top: 20px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

div.Login {
	margin-top: 50px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

div.top {
	padding-right: 20px;
	padding-top: 15px;
	background: #66CCFF;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

div.info {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border:2px solid #DDDDDD;
	margin-top: 90px;
	text-align: center
}

div.show_list {
	margin-top: 100px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

a.button_sign {
	text-decoration:none;
	position: absolute;
	color: white;
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	border-radius: 8px;
    text-align:center;
    background-color: #FF6633;
    bottom: 20px;
    left: 45%;
}

a.button_edit {
	text-decoration:none;
	position: relative;
	color: white;
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	border-radius: 8px;
    text-align:center;
    background-color: #FF6633;
    bottom: 20px;
}

a.tool_bar {
	text-decoration:none;
	display:block;
	float: right;
	margin-left: 20px;
	margin-right: 20px;
/*	position: absolute;*/
	color: white;
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	border-radius: 8px;
    text-align:center;
    background-color: #66CCFF;
    border:1px solid white;
}

img.gravatar {
/*	position: absolute;*/
	height: 600px;
	width: 600px;
/*	left: 50%;*/
	margin-left: auto;
	margin-right: auto;
}

h2.name {
/*	position: absolute;*/
	text-align: center;
	top: 20%;
	left: 50%;
	margin-top: 40px;
	margin-bottom: 20px;
}

h2.sign {
	text-align: center;
	top: 20%;
	left: 50%;
	margin-top: 90px;
}

input.sign_up {
	width: 100%;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 30px;
	border: 1px solid black;
}

textarea.content {
	width: 100%;
	height: 170px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	border: 1px solid black;
}

input.submit {
	position: relative;
	left: 40%;
	background-color: #FF6633;
	font-size: 15px;
	color: white;
	margin-top: 20px;
	border: none;
	text-decoration: none;
	padding: 10px 15px 10px 15px;
	border-radius: 8px;
}

input.login {
	position: relative;
	left: 40%;
	background-color: #FF6633;
	font-size: 15px;
	color: white;
	margin-top: 20px;
	border: none;
	text-decoration: none;
	padding: 10px 15px 10px 15px;
	border-radius: 8px;
}

input.file_name {
	margin-right: 0px;
	width: 70%;
	height: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	border: 1px solid black;
}

input.file {
	left: 0;
	height: 30px;
	position: relative;
	background-color: #FF6633;
	font-size: 15px;
	color: white;
	margin-top: 20px;
	border: none;
	padding: 7px 15px 7px 15px;
    text-align: center;
    right: 0px;
}

div.list {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	text-align: center
}

img.top {
	margin-top: 0px;
	position: relative;
	top: 0px;
	height: 60px;
	width:  70px;
}

img.list {
	border:2px solid black;
	border-radius:10px;
	-moz-border-radius:5px;
	height: 400px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

p.info {
	font-size: 20px;
}

h1.logo {
	margin-top: 0px;
	float: left;
	font-size: 30px;
	color: white;
}

#micropost_institute {
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
	width: 50%;
	height: 30px;
	font-size:20px;
}

h1.show_title {
	color: pink;
	position: absolute;
	margin-top: 30px;
}